{% extends 'layout/base.html' %}

{% block conteudo %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Cadastro</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Cadastro</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-8 offset-2">
        <form name="sentMessage" id="contactForm" novalidate action="admin.html">
          <div class="control-group form-group">
            <div class="controls">
              <label>Nome Completo:</label>
              <input type="text" class="form-control" name="nome" required>
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>CPF:</label>
              <input type="text" class="form-control" name="cpf" required >
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Matrícula no IFRN (se tiver):</label>
              <input type="text" class="form-control" name="matricula" required >
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Telefone:</label>
              <input type="text" class="form-control" name="telefone" required >
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>E-mail:</label>
              <input type="email" class="form-control" name="email" required placeholder="Será usado no login">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Senha:</label>
              <input type="password" class="form-control" name="senha" required >
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Repetir Senha:</label>
              <input type="password" class="form-control" name="senha" required >
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Cadastrar</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

{% endblock %}