{% extends 'layout/base.html' %}

{% block conteudo %}


{% import 'layout/menu_perfil' %}

          <h3>Áreas dos Públicos</h3>
          <br />
          <p><a href="perfil_publico_cadastro.html"><button type="button" class="btn btn-primary">Cadastrar Público</button></a></p>
          <br />

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nome do Público</th>
                  <th scope="col">Gerenciar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Público 1</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                 <tr>
                  <th scope="row">Público 2</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                 <tr>
                  <th scope="row">Público 3</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                
              </tbody>
            </table>




      </div>
    </div>
    <!-- /.row -->

{% endblock %}