{% extends 'layout/base.html' %}

{% block conteudo %}


  {% import 'layout/menu_perfil' %}

          <h3>Áreas dos Cursos</h3>
          <br />
          <p><a href="perfil_area_cadastro.html"><button type="button" class="btn btn-primary">Cadastrar Área</button></a></p>
          <br />

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nome da Área</th>
                  <th scope="col">Gerenciar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Área 1</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                 <tr>
                  <th scope="row">Área 2</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                 <tr>
                  <th scope="row">Área 3</th>
                  <td>
                      <a href="perfil_area_cadastro.html"><button type="button" class="btn btn-info">Editar</button></a>
                      <a href="perfil_areas.html"><button type="button" class="btn btn-danger">Excluir</button></a>
                  </td>
                </tr>
                
              </tbody>
            </table>
      </div>
    </div>
    <!-- /.row -->

{% endblock %}