{% extends 'layout/base.html' %}

{% block conteudo %}


    {% import 'layout/menu_perfil' %}

        <h3>Cadastro de Área:</h3>
          
        <form name="sentMessage" id="contactForm" novalidate action="admin_cursos.html">
          <div class="control-group form-group">
            <div class="controls">
              <label>Nome:</label>
              <input type="text" class="form-control" name="nome" required>
              <p class="help-block"></p>
            </div>
          </div>

          
          <br />
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
        </form>

      </div>
    </div>
    <!-- /.row -->

{% endblock %}