{% extends 'layout/base.html' %}

{% block conteudo %}


    {% import 'layout/menu_perfil' %}

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Perfil</h4>
          <div class="card-body">
            <p class="card-text">Visualize e edite suas informações pessoais.</p>
          </div>
          <div class="card-footer">
            <a href="perfil_dados.html" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Inscrições</h4>
          <div class="card-body">
            <p class="card-text">Visualize as suas inscrições em Cursos FICs no IFRN - Campus Canguaretama.</p>
          </div>
          <div class="card-footer">
            <a href="perfil_inscricoes.html" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Cursos</h4>
          <div class="card-body">
            <p class="card-text">Gerencie os cursos e inscrições desta plataforma.</p>
          </div>
          <div class="card-footer">
            <a href="perfil_cursos.html" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>




      </div>
    </div>
    <!-- /.row -->

{% endblock %}